#result-image {
    display: none;
    max-width: 150px;
    max-height: 150px;
  }
  .choice-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .button-suit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ccc;
  }
  
  .button:active {
    background-color: #999;
  }
  
  .suit-background {
    background-color: rgb(156, 128, 73);
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .player-side {
    color: black;
    font-family: 'Open Sans';
    font-weight: bolder;
  }