<%- include("header") -%>

    <body>
        <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark" font-family="Open-sans"
            data-bs-theme="dark">
            <div class="container-fluid p-2">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-3 my-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="cursor: pointer;" onclick="redirectDashboard()">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid text-center justify-content-center"
            style="padding: 16%; background-color: rgb(247, 133, 4); opacity: 85%">
            <div class="row">
                <div class="col text-bg-dark p-5" style="opacity: 85%;">

                    <h1>ARE YOU SURE YOU WANT TO DELETE THIS DATA?</h1>
                    <form action="/users/<%= user.id %>/deletedata" method="POST" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger" type="submit">Yes</button>
                    </form>
                    <button onclick="redirectToUsers()" class="btn btn-info" href="/users">No</button>
                </div>
            </div>
        </div>

        <script>
            function redirectToUsers() {
                window.location.href = '/users';
            }
            function redirectDashboard() {
                window.location.href = '/users';
            }
        </script>
    </body>

    </html>