<%- include("header") -%>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chapter 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/suit.css" />


    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

    <script src="js/suit.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark" font-family="Open-sans" data-bs-theme="dark">
      <div class="container-fluid p-2">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-3 my-2">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="cursor: pointer;"
                onclick="redirectDashboard()">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center justify-content-center"
      style="padding: 10%; background-color: rgb(247, 133, 4); opacity: 85%">
      <div class="row">
        <div class="col text-bg-dark p-5" style="opacity: 85%;">
          <h1>User Details</h1>
          <p><strong>Username:</strong>
            <%= user.username %>
          </p>
          <p><strong>Email:</strong>
            <%= user.email %>
          </p>
          <!-- Display user biodata and game history if available -->
          <% if (user.user_game_biodata) { %>
            <p><strong>Fullname:</strong>
              <%= user.user_game_biodata.fullname %>
            </p>
            <p><strong>Religion:</strong>
              <%= user.user_game_biodata.religion %>
            </p>
            <p><strong>Address:</strong>
              <%= user.user_game_biodata.address %>
            </p>
            <% } %>
              <% if (user.user_game_history) { %>
                <h2>Game History</h2>
                <p><strong>Activity:</strong>
                  <%= user.user_game_history.previousactivity %>
                </p>
                <p><strong>Game Played:</strong>
                  <%= user.user_game_history.previousgameplayed %>
                </p>
                <% } %>
                  <a onclick="redirectToUsers()" class="btn btn-warning">Home</a>
        </div>
      </div>
    </div>
    <script>

      function redirectToUsers() {
        window.location.href = '/users';
      }
      function redirectDashboard() {
        window.location.href = '/users';
      }

    </script>

  </body>

  </html>