<%- include("header") -%>

<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
      <div class="container-fluid">
        <a onclick="redirectToHome()" class="navbar-brand text-center d-flex align-items-center"
          style="color: rgb(229, 159, 6); font-family: 'Open sans'" href="#">
          <img src="css/assets/back-button.png" alt="Logo" width="70" height="40"
            class="d-inline-block align-text-top px-3" />
          <img src="css/assets/back-logo.png" alt="Logo" width="100" height="60"
            class="d-inline-block align-text-top px-3" />
          ROCK PAPER SCISSORS
        </a>
      </div>
    </nav>
  </div>

  <div class="container-fluid suit-background">
    <div class="container">
      <div class="row d-flex justify-content-around text-center pb-4 align-items-top">
        <div class="col player-side">PLAYER 1</div>
        <div class="col player-side">COM</div>
      </div>
      <div class="row d-flex justify-content-around text-center">
        <div class="col-4 player-side py-3">
          <button href="#" id="rock" class="btn btn-link suit-choice">
            <img src="css/assets/batu.png" alt="" width="120" height="120" />
          </button>
        </div>
        <div class="col-4 player-side py-3">
          <button href="#" id="computer-rock" class="btn btn-link suit-choice">
            <img src="css/assets/batu.png" alt="" width="120" height="120" />
          </button>
        </div>
      </div>
      <div class="row d-flex justify-content-around text-center align-items-center">
        <div class="col-5 player-side py-3">
          <button href="#" id="paper" class="btn btn-link suit-choice">
            <img src="css/assets/kertas.png" alt="" width="120" height="120" />
          </button>
        </div>
        <!--result screen-->
        <div class="col-1 justify-content-center align-items-center">
          <img id="result-image" class="justify-content-center" />
        </div>

        <div class="col-5 player-side py-3">
          <button href="#" id="computer-paper" class="btn btn-link suit-choice">
            <img src="css/assets/kertas.png" alt="" width="120" height="120" />
          </button>
        </div>
      </div>
      <div class="row d-flex justify-content-around text-center">
        <div class="col-4 player-side py-3">
          <button href="#" id="scissors" class="btn btn-link suit-choice">
            <img src="css/assets/gunting.png" alt="" width="120" height="120" />
          </button>
        </div>
        <div class="col-4 player-side py-3">
          <button href="#" id="computer-scissors" class="btn btn-link suit-choice">
            <img src="css/assets/gunting.png" alt="" width="120" height="120" />
          </button>
        </div>
      </div>

      <div class="row d-flex justify-content-around text-center">
        <div class="col-4 player-side py-3 ">
          <buttton href="#" id="restart" class="btn btn-link suit-choice">
            <img src="css/assets/refresh.png" alt="" width="60" height="60">
            </button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function redirectToHome() {
      window.location.href = '/';
    }
  </script>



</body>
