<%- include("header") -%>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"></script>
</head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark fixed-top" font-family="Open-sans"
    data-bs-theme="dark">
    <div class="container-fluid p-2">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-3 my-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index-2.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index-2.html">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index-2.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index-2.html">About me</a>
          </li>
        </ul>

        <ul class="navbar-nav mx-3 my-2 ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="redirectToLogin()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index-2.html">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Section 1-->
  <div class="container-fluid banner">
    <div class="container text-center">
      <div class="row">
        <div class="col col-sm">
          <h1 class="display-2 message-1">PLAY TRADITIONAL GAME</h1>
          <p class="quote">Experience new traditional game play</p>
          <a onclick="redirectToSuit()">
            <button type="button" class="btn btn-warning btn-lg play-now">
              PLAY NOW
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Section 2-->
  <div class="container-fluid the-games">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <p>What's so Special</p>
          <p class="display-5">THE GAMES</p>
        </div>
        <div class="col-8 col-sm-8">
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="css/assets/rockpaperstrategy-1600.jpg" width="100%" alt="..." />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img src="css/assets/rockpaperstrategy-1600.jpg" width="100%" height="150%" alt="..." />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img src="css/assets/rockpaperstrategy-1600.jpg" width="100%" height="150%" alt="..." />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <img src="css/assets/rockpaperstrategy-1600.jpg" width="100%" height="150%" alt="..." />
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Section 3-->
  <div class="container-fluid features">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-5 col-sm-2">
          <h3>What's so special?</h3>
          <h1 class="mb-5">FEATURES</h1>
          <div class="row">
            <div class="col-1 col-sm-1 mt-2">
              <img src="assets/progress.svg" alt="" />
            </div>
            <div class="col-10 col-sm-10">
              <h3 class="message-3">TRADITIONAL GAMES</h3>
              <p class="mb-5">
                if you miss your childhood, we provide<br />many traditional
                games here
              </p>
              <h3 class="message-3 mt-5">GAME SUIT</h3>
              <h3 class="message-3 mt-5">TBD</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Section 4-->
  <div class="container-fluid system-requirements">
    <div class="d-flex justify-content-center align-items-start h-100">
      <p class="text-center pb-5">Can My Computer Run This Game?</p>
    </div>
    <div class="row justify-content-start">
      <div class="col-6">
        <h1 class="requirements-head">SYSTEM<br />REQUIREMENTS</h1>
        <table class="table table-bordered">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <h5 class="requirements-specs">OS:</h5>
                <p class="message-5">
                  Windows 7 64-bit only<br />(No OSX support at this time)
                </p>
              </th>
              <th scope="row">
                <h5 class="requirements-specs">PROCESSOR:</h5>
                <p class="message-5">
                  Intel Core 2 Duo @ 2.4 GHZ or<br />AMD Athlon X2 @ 2.8 GHZ
                </p>
              </th>
            </tr>
            <tr>
              <th scope="row">
                <h5 class="requirements-specs">MEMORY:</h5>
                <p class="message-5">4 GB RAM</p>
              </th>
              <th scope="row">
                <h5 class="requirements-specs">STORAGE:</h5>
                <p class="message-5">8GB Available Space</p>
              </th>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" colspan="3">
                <h5 class="requirements-specs">Graphics:</h5>
                <p class="message-5">
                  NVIDIA Geforce GTX 660 2gb or<br />AMD Radeon HD 7850 2GB
                  DirectX11 (Shader Model 5)
                </p>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--Section 5-->
  <div class="container-fluid scores">
    <div class="row align-items-center">
      <div class="col-md-5 col-sm-5 align-items-center" style="padding-left: 5%">
        <h1>TOP SCORES</h1>
        <p>
          This top score from various games provided<br />on this platform
        </p>
        <a href="index-2.html">
          <button type="button" class="btn btn-warning btn-lg play-now mt-3">
            see more
          </button>
        </a>
      </div>
      <div class="col-md-7 col-sm-7 d-flex flex-column">
        <!--Card 1-->
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="card col-sm w-50 mb-5 bg-dark text-white" style="max-width: 400px">
              <div class="row d-flex align-items-center mb-3">
                <div class="col-md-3 col-sm-3 mb-3">
                  <img src="css/assets/evan-lahti.jpg" class="img-fluid img-circle" />
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="card-body">
                    <h4 class="card-title" style="color: hwb(39 6% 11%)">
                      Evan Lahti
                    </h4>
                    <p class="score-job">PC Gamer</p>
                  </div>
                </div>
                <div class="col-md-1 d-flex align-items-end pl-4">
                  <img src="css/assets/twitter-card.png" alt="" />
                </div>
                <div>
                  <p class="card-text">
                    "One of my gaming highlights of the year."
                  </p>
                </div>
                <p class="score-date mt-3">June 18, 2021</p>
              </div>
            </div>
          </div>
        </div>
        <!--Card 2-->
        <div class="container">
          <div class="row justify-content-start">
            <div class="card col-sm w-50 mb-5 bg-dark text-white" style="max-width: 400px">
              <div class="row d-flex align-items-center mb-3">
                <div class="col-md-3 mb-3">
                  <img src="css/assets/jada-griffin.jpg" class="img-fluid img-circle" />
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title" style="color: hwb(39 6% 11%)">
                      Jada Griffin
                    </h4>
                    <p class="score-job">Nerdreactor</p>
                  </div>
                </div>
                <div class="col-md-1 d-flex align-items-end pl-4">
                  <img src="css/assets/twitter-card.png" alt="" />
                </div>
                <div>
                  <p class="card-text">
                    "The next big thing in the world of streaming<br />and
                    survival games."
                  </p>
                </div>
                <p class="score-date mt-3">July 10, 2021</p>
              </div>
            </div>
          </div>
        </div>
        <!--Card 3-->
        <div class="container">
          <div class="row justify-content-center">
            <div class="card col-sm w-50 mb-5 bg-dark text-white" style="max-width: 400px">
              <div class="row d-flex align-items-center mb-3">
                <div class="col-md-3 mb-3">
                  <img src="css/assets/aaron-williams.jpg" class="img-fluid img-circle" />
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title" style="color: hwb(39 6% 11%)">
                      Aaron Williams
                    </h4>
                    <p class="score-job">Uproxx</p>
                  </div>
                </div>
                <div class="col-md-1 d-flex align-items-end pl-4">
                  <img src="css/assets/twitter-card.png" alt="" />
                </div>
                <div>
                  <p class="card-text">
                    "Snoop Dogg Playing The Wildly Entertaining<br />'SOS' Is
                    Ridiculous"
                  </p>
                </div>
                <p class="score-date mt-3">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Section 6-->
  <div class="container-fluid bg-newsletter">
    <div class="container text-white">
      <div class="row d-flex align-items-center pb-5">
        <div class="col-md-5 col-sm-5 ml-5">
          <img src="css/assets/skull.png" class="ml-5 skull img-fluid" alt="" />
        </div>
        <div class="col-md-7 col-sm-7 p-sm-5">
          <div class="">
            <p class="small-msg-in-newletter">Want to stay in<br />touch?</p>
            <h1 class="display-4 newsletter-header">
              NEWSLETTER<br />SUBSCRIBE
            </h1>
            <p>
              In order to start receiving our news, all you have to do is
              enter your email<br />
              address. Everything else will be taken care of by us. We will
              send your emails<br />containing information about game. We
              don't spam.
            </p>
          </div>
          <div class="row mt-5 d-flex">
            <div class="col-md-6 col-sm-6 mt-3 align-items-center">
              <div>
                <input type="Email" placeholder="youremail@binar.co.id" class="form-control form-bg custom-placeholder"
                  id="name" />
              </div>
            </div>
            <div class="col-md-5 col-sm-5 d-flex align-items-end">
              <button type="submit" class="btn btn-warning btn-lg subscribe-now">
                Subscribe now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--footer-->
  <footer class="footer">
    <div class="container-fluid footer-bg text-white">
      <div class="container">
        <div class="row text-center justify-content-end p-3">
          <div class="col-md-1 col-sm-2 footer-btn">
            <a class="nav-link" href="index-2.html">MAIN</a>
          </div>
          <div class="col-md-1 col-sm-2 footer-btn">
            <a class="nav-link" href="index-2.html">ABOUT</a>
          </div>
          <div class="col-md-1 col-sm-2 footer-btn">
            <a class="nav-link" href="index-2.html">GAME FEATURES</a>
          </div>
          <div class="col-md-2 col-sm-2 footer-btn">
            <a class="nav-link" href="index-2.html">SYSTEM REQUIREMENTS</a>
          </div>
          <div class="col-md-1 col-sm-2 footer-btn">
            <a class="nav-link" href="index-2.html">QUOTES</a>
          </div>
          <div class="col-md-1 col-sm-2 footer-icon">
            <a class="nav-link" href="index-2.html"><img src="css/assets/facebook.svg" class="pb-3" alt="" /></a>
          </div>
          <div class="col-md-1 col-sm-2 footer-icon">
            <a class="nav-link" href="index-2.html"><img src="css/assets/twitter.svg" class="pb-3" alt="" /></a>
          </div>
          <div class="col-md-1 col-sm-2 footer-icon">
            <a class="nav-link" href="index-2.html"><img src="css/assets/vector.svg" class="pb-3" alt="" /></a>
          </div>
          <div class="col-md-1 col-sm-2 footer-icon">
            <a class="nav-link" href="index-2.html"><img src="css/assets/twitch.svg" class="pb-3" alt="" /></a>
          </div>
        </div>
        <div class="row justify-content-end footer-down p-4">
          <div class="col-md-9 col-sm-9 copyright justify-content-start">
            © 2018 Your Games, Inc. All Rights Reserved
          </div>
          <div class="btn text-white col-md-1 col-sm-2 footer-btn-down" style="border-right: 1px solid white">
            Privacy Policy
          </div>
          <div class="btn text-white col-md-1 col-sm-2 footer-btn-down" style="border-right: 1px solid white">
            Terms Of Service
          </div>
          <div class="btn text-white col-md-1 col-sm-2 footer-btn-down">
            Code of Conduct
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>

    function redirectToSuit() {
      window.location.href = '/suit';
    }

    function redirectToLogin() {
      window.location.href = '/login';
    }

  </script>
</body>