<%- include("header") -%>
<body>
  <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark fixed-top" font-family="Open-sans"
  data-bs-theme="dark">
  <div class="container-fluid p-2">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-3 my-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" onclick="redirectToLandingPage()">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid banner-2">
  <div class="container text-center justify-content-center">
    <div class="col">
      <form action="/login" method="get">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

  <script>

    function redirectToLandingPage() {
      window.location.href = '/';
    }


  </script>

</body>
  